body {
  background-color: #ececec;
}

.navbar {
  width: auto;
  height: 100px;
  background-color: #d9d9d9;
}

.upperbox {
    display: grid;
    grid-template-columns: 25% auto;
}

.title {
  width: 25rem;
  height: 13.1rem;
  border-radius: 1rem;
  background: #d9d9d9;
}

.description {
  width: 25rem;
  height: 31.3rem;
  border-radius: 1rem;
  background: #d9d9d9;
}

.description,
.title {
  margin-left: 70px;
}

.main-image {
  width: 54.0625rem;
  height: 45.3125rem;
  background-image: url(Images/Kebabrulle-main.webp);
  background-repeat: no-repeat;
  border-radius: 1rem;
}
