body {
  background-color: #ececec;
}

.navbar {
  width: auto;
  height: 100px;
  background-color: #d9d9d9;
}

.upperbox {
}

.title {
  width: 400px;
  height: 210px;
  border-radius: 15px;
  background: #d9d9d9;
}

.description {
}

.main-image {
}

