body {
  background-color: #ececec;
}

.navbar {
  width: auto;
  height: 100px;
  background-color: #d9d9d9;
}

.upperbox {
}

.title {
  width: 25rem;
  height: 13.1rem;
  border-radius: 15px;
  background: #d9d9d9;
}

.description {
  width: 25rem;
  height: 31.3rem;
  border-radius: 15px;
  background: #d9d9d9;
}

.description,
.title {
  margin-left: 70px;
}

.main-image {
}
